body {
  -webkit-background-size: cover; /* Chrome and Safari */
  -moz-background-size: cover; /* Firefox */
  -o-background-size: cover; /* Opera */
  background-size: cover;
  font-family: "Noto Sans", sans-serif; /* Use 'Noto Sans' first, otherwise use sans-serif */
}

.about {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.me {
  width: 200px;
  height: auto;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
}

.bio {
  font-size: 18px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
